* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containner {
  width: 90%;
  margin: auto;
}

.giocatori {
  margin-left: 30%;
  margin-top: 10px;
}
.game {
  width: 300px;
  height: 300px;
  margin-left: 30%;
  margin-top: 50px;
}

.block {
  float: left;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  cursor: cell;
}
